<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core_Bible.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core_Bible.Properties.Settings>
            <setting name="DefaultBible" serializeAs="String">
                <value />
            </setting>
            <setting name="Bible1" serializeAs="String">
                <value />
            </setting>
            <setting name="Bible2" serializeAs="String">
                <value />
            </setting>
            <setting name="Bible3" serializeAs="String">
                <value />
            </setting>
            <setting name="Bible4" serializeAs="String">
                <value />
            </setting>
            <setting name="Bible5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenedPage" serializeAs="String">
                <value />
            </setting>
            <setting name="LastZoomLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastInlineMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadingProgress" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </Core_Bible.Properties.Settings>
    </userSettings>
</configuration>